@import 'signature.variables';

:host {
  display: block;
  width: 300px;
  height: 150px;
}

:host([disabled]) {
  opacity: $signature-disabled-opacity;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
