@import 'attention-seekers/all.css';
@import 'back-entrances/all.css';
@import 'back-exits/all.css';
@import 'bouncing-entrances/all.css';
@import 'bouncing-exits/all.css';
@import 'fading-entrance/all.css';
@import 'fading-exits/all.css';
@import 'flippers/all.css';
@import 'light-speed/all.css';
@import 'rotating-entrances/all.css';
@import 'rotating-exits/all.css';
@import 'shake/all.css';
@import 'sliding-entrances/all.css';
@import 'sliding-exits/all.css';
@import 'specials/all.css';
@import 'typing/all.css';
@import 'zooming-entrances/all.css';
@import 'zooming-exits/all.css';