// backdrop
$cropper-backdrop-color: black;
$cropper-backdrop-opacity: 0.5;

// guides
$cropper-guides-color: white;
$cropper-guides-opacity: 0.5;
$cropper-guides-style: dashed;
$cropper-guides-weight: 1px;

// indicator
$cropper-indicator-color: white;
$cropper-indicator-opacity: 1;
$cropper-indicator-size: 10px;
$cropper-indicator-weight: 2px;

// resizer
$cropper-resizer-color: white;
$cropper-resizer-offset: 0px;
$cropper-resizer-opacity: 1;
$cropper-resizer-size: 5px;
$cropper-resizer-weight: 1px;

// viewport
$cropper-viewport-color: white;
$cropper-viewport-opacity: 1;
$cropper-viewport-style: solid;
$cropper-viewport-weight: 1px;
