{
  "embeddedLanguageFormatting": "off",
  "printWidth": 100,
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "none",
  "importOrder": [
    "^@htmlplus/(.*)$",
    "<THIRD_PARTY_MODULES>", 
    "^@app/(.*)$",
    "^[.](.*)"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins" : ["typescript", "jsx", "classProperties", "[\"decorators\", { \"decoratorsBeforeExport\": true }]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false
}
