:host {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
}

:host([disabled]) {
  span {
    opacity: 0.5;
  }
}

:host([active]) {
  background-color: lightgray;
}
