.indicator {
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  display: block;
  position: relative;
  color: var(--plus-loading-color-primary);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.indicator::after,
.indicator::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: calc(var(--plus-loading-size) / 2);
  height: calc(var(--plus-loading-size) / 2);
  top: 0;
  background-color: var(--plus-loading-color-primary);
  border-radius: 50%;
  animation: scale50 1s infinite ease-in-out;
}
.indicator::before {
  top: auto;
  bottom: 0;
  background-color: var(--plus-loading-color-secondary);
  animation-delay: 0.5s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale50 {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
