.indicator {
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  display: block;
  position: relative;
  color: var(--plus-loading-color-primary);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.indicator::after,
.indicator::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: calc(var(--plus-loading-size) / 2);
  height: calc(var(--plus-loading-size) / 2);
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: var(--plus-loading-color-primary);
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.indicator::before {
  background-color: var(--plus-loading-color-secondary);
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
