.indicator {
  width: calc(var(--plus-loading-size) / 3);
  height: calc(var(--plus-loading-size) / 3);
  border-radius: 50%;
  display: block;
  position: relative;
  background: var(--plus-loading-color-primary);
  box-shadow:
    calc(var(--plus-loading-size) / -2) 0 var(--plus-loading-color-primary),
    calc(var(--plus-loading-size) / 2) 0 var(--plus-loading-color-primary);
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: var(--plus-loading-color-primary);
    box-shadow:
      calc(var(--plus-loading-size) / -2) 0 var(--plus-loading-color-secondary),
      calc(var(--plus-loading-size) / 2) 0 var(--plus-loading-color-primary);
  }
  66% {
    background: var(--plus-loading-color-secondary);
    box-shadow:
      calc(var(--plus-loading-size) / -2) 0 var(--plus-loading-color-primary),
      calc(var(--plus-loading-size) / 2) 0 var(--plus-loading-color-primary);
  }
  100% {
    background: var(--plus-loading-color-primary);
    box-shadow:
      calc(var(--plus-loading-size) / -2) 0 var(--plus-loading-color-primary),
      calc(var(--plus-loading-size) / 2) 0 var(--plus-loading-color-secondary);
  }
}
