.indicator {
  box-sizing: border-box;
  position: relative;
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  animation: spin 1s linear infinite;
  display: block;
}
.indicator:after,
.indicator:before {
  content: '';
  width: calc(var(--plus-loading-size) / 2);
  height: calc(var(--plus-loading-size) / 2);
  position: absolute;
  border-radius: 50%;
  background: var(--plus-loading-color-secondary);
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}
.indicator:before {
  transform-origin: 0 50%;
  background: var(--plus-loading-color-primary);
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
