.indicator {
  width: calc(var(--plus-loading-size) / 3);
  height: calc(var(--plus-loading-size) / 3);
  border-radius: 50%;
  display: block;
  position: relative;
  background: var(--plus-loading-color-secondary);
  color: var(--plus-loading-color-primary);
  box-shadow:
    calc(var(--plus-loading-size) / -2) 0,
    calc(var(--plus-loading-size) / 2) 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
