.indicator {
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: calc(var(--plus-loading-size) / 16) solid;
  border-color: var(--plus-loading-color-primary) var(--plus-loading-color-primary) transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.indicator::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: calc(var(--plus-loading-size) / 16) solid;
  border-color: transparent var(--plus-loading-color-secondary) var(--plus-loading-color-secondary);
  width: calc(var(--plus-loading-size) / 2);
  height: calc(var(--plus-loading-size) / 2);
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
