.indicator {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--plus-loading-color-secondary)
    hsl(from var(--plus-loading-color-tertiary) h s l / 0) var(--plus-loading-color-primary)
    hsl(from var(--plus-loading-color-tertiary) h s l / 0);
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.indicator:before,
.indicator:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: var(--plus-loading-color-primary);
  transform: translate(-10px, 19px) rotate(-35deg);
}
.indicator:after {
  border-color: var(--plus-loading-color-secondary)
    hsl(from var(--plus-loading-color-tertiary) h s l / 0)
    hsl(from var(--plus-loading-color-tertiary) h s l / 0)
    hsl(from var(--plus-loading-color-tertiary) h s l / 0);
  transform: translate(32px, 3px) rotate(-35deg);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
