.indicator {
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  border: calc(var(--plus-loading-size) / 16) solid var(--plus-loading-color-primary);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.indicator::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--plus-loading-color-secondary);
  width: calc(var(--plus-loading-size) / 3);
  height: calc(var(--plus-loading-size) / 3);
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
