.indicator {
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  border: calc(var(--plus-loading-size) / 9.6) solid;
  border-color: var(--plus-loading-color-secondary) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
