.indicator {
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  border: calc(var(--plus-loading-size) / 4.8) solid var(--plus-loading-color-primary);
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}
.indicator::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  inset: calc(var(--plus-loading-size) / -4.8);
  border-radius: 50%;
  border: calc(var(--plus-loading-size) / 4.8) solid var(--plus-loading-color-secondary);
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
