.indicator {
  width: 48px;
  height: 48px;
  background: var(--plus-loading-color-primary);
  border-radius: 50%;
  position: relative;
  animation: skLinRotate 1s ease-in-out infinite alternate;
}
.indicator:after {
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: var(--plus-loading-color-secondary);
}
@keyframes skLinRotate {
  95%,
  100% {
    transform: rotate(840deg);
  }
}
