.indicator {
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: calc(var(--plus-loading-size) / 24) solid var(--plus-loading-color-secondary);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.indicator::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: calc(var(--plus-loading-size) / 12);
  top: calc(var(--plus-loading-size) / 12);
  border: calc(var(--plus-loading-size) / 24) solid var(--plus-loading-color-primary);
  width: calc(var(--plus-loading-size) / 4);
  height: calc(var(--plus-loading-size) / 4);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
