.indicator {
  width: 84px;
  height: 84px;
  position: relative;
}
.indicator:before,
.indicator:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: var(--plus-loading-color-secondary);
  animation: push 1s infinite linear alternate;
}
.indicator:after {
  top: auto;
  bottom: 0;
  left: 0;
  background: var(--plus-loading-color-primary);
  animation-direction: alternate-reverse;
}
@keyframes push {
  0% {
    width: 14px;
    height: 14px;
  }
  100% {
    width: 84px;
    height: 84px;
  }
}
