.indicator {
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  border-radius: 50%;
  display: inline-block;
  border-top: calc(var(--plus-loading-size) / 12) solid var(--plus-loading-color-primary);
  border-right: calc(var(--plus-loading-size) / 12) solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.indicator::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  border-radius: 50%;
  border-bottom: calc(var(--plus-loading-size) / 12) solid var(--plus-loading-color-secondary);
  border-left: calc(var(--plus-loading-size) / 12) solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
