.indicator {
  width: 48px;
  height: 48px;
  background: var(--plus-loading-color-primary);
  border-radius: 50%;
  position: relative;
  animation: roll 1s ease-in-out infinite alternate;
}
.indicator:after {
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid;
  border-color: var(--plus-loading-color-secondary) transparent;
}
@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }
  100% {
    transform: translateX(150%) rotate(360deg);
  }
}
