.indicator {
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  border: calc(var(--plus-loading-size) / 9.6) solid var(--plus-loading-color-primary);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.indicator:after {
  content: '';
  position: absolute;
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  border: calc(var(--plus-loading-size) / 9.6) solid var(--plus-loading-color-primary);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
