.indicator {
  width: var(--plus-loading-size);
  height: var(--plus-loading-size);
  border: calc(var(--plus-loading-size) / 9.6) dotted var(--plus-loading-color-primary);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
