.indicator {
  width: 45px;
  height: 40px;
  background: linear-gradient(
      hsl(from var(--plus-loading-color-tertiary) h s l / 0) calc(1 * 100% / 6),
      var(--plus-loading-color-primary) 0 calc(3 * 100% / 6),
      hsl(from var(--plus-loading-color-tertiary) h s l / 0) 0
    ),
    linear-gradient(
      hsl(from var(--plus-loading-color-tertiary) h s l / 0) calc(2 * 100% / 6),
      var(--plus-loading-color-primary) 0 calc(4 * 100% / 6),
      hsl(from var(--plus-loading-color-tertiary) h s l / 0) 0
    ),
    linear-gradient(
      hsl(from var(--plus-loading-color-tertiary) h s l / 0) calc(3 * 100% / 6),
      var(--plus-loading-color-primary) 0 calc(5 * 100% / 6),
      hsl(from var(--plus-loading-color-tertiary) h s l / 0) 0
    );
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}
@keyframes matrix {
  0% {
    background-position:
      0% 100%,
      50% 100%,
      100% 100%;
  }
  100% {
    background-position:
      0% 0%,
      50% 0%,
      100% 0%;
  }
}
