.indicator {
  position: relative;
  border: 24px solid var(--plus-loading-color-primary);
  border-radius: 50%;
  box-sizing: border-box;
  animation: eat 1s linear infinite;
}
.indicator::after,
.indicator::before {
  content: '';
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--plus-loading-color-primary);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
  animation: move 2s linear infinite;
}

.indicator::before {
  animation-delay: 1s;
}

@keyframes eat {
  0%,
  49% {
    border-right-color: var(--plus-loading-color-primary);
  }
  50%,
  100% {
    border-right-color: hsl(from var(--plus-loading-color-tertiary) h s l / 0);
  }
}
@keyframes move {
  0% {
    left: 75px;
    opacity: 1;
  }
  50% {
    left: 0px;
    opacity: 1;
  }
  52%,
  100% {
    left: -5px;
    opacity: 0;
  }
}
