.indicator,
.indicator:before {
  display: inline-block;
  border: 20px double transparent;
  border-top-color: var(--plus-loading-color-primary);
  border-radius: 50%;
  box-sizing: border-box;
}
.indicator {
  padding: 8px;
  animation: wifiLoading 1s ease-in infinite;
}
.indicator:before {
  content: '';
  width: 0;
  height: 0;
}
@keyframes wifiLoading {
  0% {
    border-style: none;
  }
  100% {
    border-style: double;
  }
}
