.indicator {
  width: 48px;
  height: 40px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  background: var(--plus-loading-color-primary);
  border-radius: 15% 15% 35% 35%;
}
.indicator::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid var(--plus-loading-color-primary);
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}
.indicator::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  color: var(--plus-loading-color-primary);
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow:
      2px 0px hsl(from var(--plus-loading-color-primary) h s l / 0),
      12px 0px hsl(from var(--plus-loading-color-primary) h s l / 0.3),
      20px 0px hsl(from var(--plus-loading-color-primary) h s l / 0);
  }
  50% {
    box-shadow:
      2px -5px hsl(from var(--plus-loading-color-primary) h s l / 0.5),
      12px -3px hsl(from var(--plus-loading-color-primary) h s l / 0.5),
      20px -2px hsl(from var(--plus-loading-color-primary) h s l / 0.6);
  }
  100% {
    box-shadow:
      2px -8px hsl(from var(--plus-loading-color-primary) h s l / 0),
      12px -5px hsl(from var(--plus-loading-color-primary) h s l / 0),
      20px -5px hsl(from var(--plus-loading-color-primary) h s l / 0);
  }
}
