.indicator {
  display: block;
  position: relative;
  height: 32px;
  border: 2px solid var(--plus-loading-color-primary);
  width: 120px;
  background: var(--plus-loading-color-primary);
  box-sizing: border-box;
}
.indicator:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 28px;
  height: 28px;
  background: var(--plus-loading-color-secondary);
  animation: ballbns 1s ease-in-out infinite alternate;
}

@keyframes ballbns {
  0% {
    left: 0;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(-100%);
  }
}
