.indicator {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}
.indicator::before {
  content: '';
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: animloader 4s ease infinite;
}
.indicator::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: hsl(from var(--plus-loading-color-primary) h s l / 0.85);
  box-shadow: 0 0 10px hsl(from var(--plus-loading-color-tertiary) h s l / 0.15);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow:
      0 24px hsl(from var(--plus-loading-color-primary) h s l / 0),
      24px 24px hsl(from var(--plus-loading-color-primary) h s l / 0),
      24px 48px hsl(from var(--plus-loading-color-primary) h s l / 0),
      0px 48px hsl(from var(--plus-loading-color-primary) h s l / 0);
  }
  12% {
    box-shadow:
      0 24px var(--plus-loading-color-primary),
      24px 24px hsl(from var(--plus-loading-color-primary) h s l / 0),
      24px 48px hsl(from var(--plus-loading-color-primary) h s l / 0),
      0px 48px hsl(from var(--plus-loading-color-primary) h s l / 0);
  }
  25% {
    box-shadow:
      0 24px var(--plus-loading-color-primary),
      24px 24px var(--plus-loading-color-primary),
      24px 48px hsl(from var(--plus-loading-color-primary) h s l / 0),
      0px 48px hsl(from var(--plus-loading-color-primary) h s l / 0);
  }
  37% {
    box-shadow:
      0 24px var(--plus-loading-color-primary),
      24px 24px var(--plus-loading-color-primary),
      24px 48px var(--plus-loading-color-primary),
      0px 48px hsl(from var(--plus-loading-color-primary) h s l / 0);
  }
  50% {
    box-shadow:
      0 24px var(--plus-loading-color-primary),
      24px 24px var(--plus-loading-color-primary),
      24px 48px var(--plus-loading-color-primary),
      0px 48px var(--plus-loading-color-primary);
  }
  62% {
    box-shadow:
      0 24px hsl(from var(--plus-loading-color-primary) h s l / 0),
      24px 24px var(--plus-loading-color-primary),
      24px 48px var(--plus-loading-color-primary),
      0px 48px var(--plus-loading-color-primary);
  }
  75% {
    box-shadow:
      0 24px hsl(from var(--plus-loading-color-primary) h s l / 0),
      24px 24px hsl(from var(--plus-loading-color-primary) h s l / 0),
      24px 48px var(--plus-loading-color-primary),
      0px 48px var(--plus-loading-color-primary);
  }
  87% {
    box-shadow:
      0 24px hsl(from var(--plus-loading-color-primary) h s l / 0),
      24px 24px hsl(from var(--plus-loading-color-primary) h s l / 0),
      24px 48px hsl(from var(--plus-loading-color-primary) h s l / 0),
      0px 48px var(--plus-loading-color-primary);
  }
  100% {
    box-shadow:
      0 24px hsl(from var(--plus-loading-color-primary) h s l / 0),
      24px 24px hsl(from var(--plus-loading-color-primary) h s l / 0),
      24px 48px hsl(from var(--plus-loading-color-primary) h s l / 0),
      0px 48px hsl(from var(--plus-loading-color-primary) h s l / 0);
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}
