.indicator {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}
.indicator:before,
.indicator:after {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.indicator:before {
  animation: box1 1s infinite;
  background-color: var(--plus-loading-color-primary);
  box-shadow: 30px 0 0 var(--plus-loading-color-secondary);
  margin-bottom: 10px;
}
.indicator:after {
  animation: box2 1s infinite;
  background-color: var(--plus-loading-color-secondary);
  box-shadow: 30px 0 0 var(--plus-loading-color-primary);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes box1 {
  0% {
    box-shadow: 30px 0 0 var(--plus-loading-color-secondary);
  }
  50% {
    box-shadow: 0 0 0 var(--plus-loading-color-secondary);
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--plus-loading-color-secondary);
    margin-bottom: 10px;
  }
}

@keyframes box2 {
  0% {
    box-shadow: 30px 0 0 var(--plus-loading-color-primary);
  }
  50% {
    box-shadow: 0 0 0 var(--plus-loading-color-primary);
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--plus-loading-color-primary);
    margin-top: 0;
  }
}
