.indicator {
  width: 54px;
  height: 54px;
  position: relative;
  background: var(--plus-loading-color-primary);
  border-radius: 4px;
}
.indicator:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 24px;
  height: 24px;
  background: var(--plus-loading-color-secondary);
  border-radius: 50%;
  transform-origin: 100% 100%;
  animation: move 1s linear infinite;
}
@keyframes move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
}
