.indicator {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.indicator::after,
.indicator::before {
  content: '';
  width: 48px;
  height: 48px;
  border: 2px solid var(--plus-loading-color-primary);
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}
.indicator::after {
  border-color: var(--plus-loading-color-secondary);
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
