@import 'accordion.variables';

:host {
  border: $accordion-border;
  border-radius: $accordion-border-radius;
  display: block;
  overflow-anchor: none;
}

:host(:not(:first-of-type)) {
  border-top: 0;
}

:host(:not(:first-of-type):not(:last-of-type)) {
  border-radius: 0;
}

:host(:first-of-type:not(:last-of-type)) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

:host(:last-of-type:not(:first-of-type)) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

:host([disabled]) {
  opacity: $accordion-disabled-opacity;
}

:host([disabled])::part(header) {
  cursor: initial;
}

:host::part(header) {
  padding: $accordion-padding;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: inherit;
  user-select: none;
  cursor: pointer;
  overflow-anchor: none;
}

:host::part(summary) {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

:host::part(icon) {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

:host::part(body) {
  transition: $accordion-transition;
  overflow: hidden;
}

:host::part(content) {
  padding: $accordion-padding;
  display: block;
}

:host([state='collapsed'])::part(body) {
  display: none;
}

:host(:not([state='collapsed']))::part(header) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

:host::part(svg) {
  transition: $accordion-transition;
}

:host([state^='collap'])::part(svg) {
  rotate: +90deg;
}

:host([state^='expand'])::part(svg) {
  rotate: -90deg;
}
