$accordion-border: $border !default;
$accordion-border-radius: $border-radius !default;
$accordion-disabled-opacity: $disabled-opacity !default;
$accordion-padding: 1rem !default;
$accordion-transition: all 0.2s ease-in-out !default;
