plus-tooltip[placement-computed^='top'] {
  transform: translateY(-12px);
}

plus-tooltip[placement-computed^='top']::part(arrow) {
  bottom: -12px;
  border-top: solid 12px black;
  border-right: solid 12px transparent;
  border-bottom: solid 0px transparent;
  border-left: solid 12px transparent;
}

plus-tooltip[placement-computed^='right'] {
  transform: translateX(12px);
}

plus-tooltip[placement-computed^='right']::part(arrow) {
  left: -12px;
  border-top: solid 12px transparent;
  border-right: solid 12px black;
  border-bottom: solid 12px transparent;
  border-left: solid 0px transparent;
}

plus-tooltip[placement-computed^='bottom'] {
  transform: translateY(12px);
}

plus-tooltip[placement-computed^='bottom']::part(arrow) {
  top: -12px;
  border-top: solid 0px transparent;
  border-right: solid 12px transparent;
  border-bottom: solid 12px black;
  border-left: solid 12px transparent;
}

plus-tooltip[placement-computed^='left'] {
  transform: translateX(-12px);
}

plus-tooltip[placement-computed^='left']::part(arrow) {
  right: -12px;
  border-top: solid 12px transparent;
  border-right: solid 0px transparent;
  border-bottom: solid 12px transparent;
  border-left: solid 12px black;
}
