@import 'avatar.variables';

:host {
  // @Property() Used to adjust the border-radius.
  --plus-avatar-border-radius: #{$avatar-border-radius};

  // @Property() Used to adjust the ratio of size to font-size.
  --plus-avatar-font-size-ratio: #{$avatar-font-size-ratio};

  // @Property() Used to adjust the size (width & height).
  --plus-avatar-size: #{$avatar-size};
}

:host {
  border-radius: var(--plus-avatar-border-radius);
  font-size: calc(var(--plus-avatar-size) * var(--plus-avatar-font-size-ratio));
  height: var(--plus-avatar-size);
  width: var(--plus-avatar-size);
  background-color: $avatar-background-color;
  color: $avatar-color;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
}

:host([shape='circle']) {
  --plus-avatar-border-radius: 50%;
}

:host([shape='round']) {
  --plus-avatar-border-radius: #{$avatar-border-radius};
}

:host([shape='tile']) {
  --plus-avatar-border-radius: 0;
}

@each $key, $value in $avatar-sizes {
  :host([size='#{$key}']) {
    --plus-avatar-size: #{$value};
  }
}

::slotted(*:not([slot])) {
  border-radius: var(--plus-avatar-border-radius);
  height: 100%;
  width: 100%;
}

// TODO: Experimental
::slotted(a) {
  position: absolute;
  inset: 0;
}

div {
  position: absolute;
}
