:host {
  flex: 0 0 auto; // ???
  display: flex;
  overflow: auto;
}

:host(#{boolean(reverse)}) {
  flex-direction: row-reverse;
}

:host(#{boolean(grow)}) ::slotted(plus-tabs-tab) {
  flex-grow: 1;
}

:host([justify=start]),
:host([justify=end]#{boolean(reverse)}) {
  justify-content: flex-start;
}

:host([justify=center]) {
  justify-content: center;
}

:host([justify=end]),
:host([justify=start]#{boolean(reverse)}) {
  justify-content: flex-end;
}
