:host {
  // @Property() Used to adjust the color.
  --plus-divider-color: black;

  // @Property() Used to adjust the thickness.
  --plus-divider-size: 1px;

  // @Property() Used to adjust the stroke.
  --plus-divider-stroke: solid;
}

@each $key in $divider-strokes {
  :host([stroke='#{$key}']) {
    --plus-divider-stroke: #{$key};
  }
}

@each $key, $value in $divider-sizes {
  :host([size='#{$key}']) {
    --plus-divider-size: #{$value};
  }
}

:host {
  color: $divider-color;
  gap: $divider-gutter;
  align-items: center;
  display: flex;
}

:host::part(line) {
  border-color: $divider-border-color;
  border-style: $divider-border-style;
  border-width: $divider-border-width;
  flex: 1 1 auto;
}

:host([placement='start'])::part(prefix),
:host([placement='end'])::part(suffix) {
  display: none;
}

:host([orientation='horizontal']) {
  flex-direction: row;

  &::part(line) {
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
}

:host([orientation='horizontal'][inset='start'])::part(prefix) {
  margin-inline-start: 5rem;
}

:host([orientation='horizontal'][inset='end'])::part(suffix) {
  margin-inline-end: 5rem;
}

:host([orientation='horizontal'][inset='both'])::part(prefix) {
  margin-inline-start: 1rem;
}

:host([orientation='horizontal'][inset='both'])::part(suffix) {
  margin-inline-end: 1rem;
}

:host([orientation='vertical']) {
  flex-direction: column;
  height: auto;
  min-height: 100%;
  align-self: stretch;

  &::part(line) {
    border-top: none;
    border-right: none;
    border-bottom: none;
  }
}

:host([orientation='vertical'][inset='start'])::part(prefix) {
  margin-block-start: 5rem;
}

:host([orientation='vertical'][inset='end'])::part(suffix) {
  margin-block-end: 5rem;
}

:host([orientation='vertical'][inset='both'])::part(prefix) {
  margin-block-start: 1rem;
}

:host([orientation='vertical'][inset='both'])::part(suffix) {
  margin-block-end: 1rem;
}

:host(:empty) {
  gap: 0;
}

slot {
  display: inline-block;
}

:host([orientation='horizontal'][stroke='dashed']) slot,
:host([orientation='horizontal'][stroke='dotted']) slot {
  min-width: var(--plus-divider-size);
}

:host([orientation='vertical'][stroke='dashed']) slot,
:host([orientation='vertical'][stroke='dotted']) slot {
  min-height: var(--plus-divider-size);
}
