$divider-color: grey;
$divider-gutter: 0.5rem;
$divider-opacity: 0.25;
$divider-type: unset;
$divider-types: (dashed, dotted, double, groove, inset, outset, ridge, solid);
$divider-width: unset;
$divider-widths: (
  xs: 1px,
  sm: 2px,
  md: 3px,
  lg: 4px,
  xl: 5px
);
