@import 'divider.variables';

:host {
  // @Property() Used to adjust the color.
  --plus-divider-color: black;
}

@each $key in $divider-types {
  :host([type='#{$key}'])::part(line) {
    border-style: #{$key};
  }
}

@each $key, $value in $divider-widths {
  :host([width='#{$key}'])::part(line) {
    border-width: #{$value};
  }
}

:host {
  color: $divider-color;
  gap: $divider-gutter;
  align-items: center;
  display: flex;
}

:host::part(line) {
  border-color: $divider-border-color;
  flex: 1 1 auto;
}

:host([placement='start'])::part(prefix),
:host([placement='end'])::part(suffix) {
  display: none;
}

:host([aria-orientation='horizontal']) {
  flex-direction: row;

  &::part(line) {
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
}

:host([aria-orientation='horizontal'][variant='inset'])::part(prefix) {
  margin-inline-start: 5rem;
}

:host([aria-orientation='horizontal'][variant='middle'])::part(prefix) {
  margin-inline-start: 1rem;
}

:host([aria-orientation='horizontal'][variant='middle'])::part(suffix) {
  margin-inline-end: 1rem;
}

:host([aria-orientation='vertical']) {
  flex-direction: column;
  height: auto;
  min-height: 100%;
  align-self: stretch;

  &::part(line) {
    border-top: none;
    border-right: none;
    border-bottom: none;
  }
}

:host([aria-orientation='vertical'][variant='inset'])::part(prefix) {
  margin-block-start: 5rem;
}

:host([aria-orientation='vertical'][variant='middle'])::part(prefix) {
  margin-block-start: 1rem;
}

:host([aria-orientation='vertical'][variant='middle'])::part(suffix) {
  margin-block-end: 1rem;
}

:host(:empty) {
  gap: 0;
}
