$divider-color: var(--plus-divider-color);
$divider-border-color: hsl(from var(--plus-divider-color) h s 85);
$divider-gutter: 0.5rem;
$divider-types: (dashed, dotted, double, groove, inset, outset, ridge, solid);
$divider-widths: (
  xs: 1px,
  sm: 2px,
  md: 3px,
  lg: 4px,
  xl: 5px
);
