:host {
  display: flex;
  flex-direction: column;
}

:host(#{boolean(vertical)}) {

  flex-direction: row;

  ::slotted(plus-tabs-bar){
    flex-direction: column;
  }

  ::slotted(plus-tabs-bar#{boolean(reverse)}) {
    flex-direction: column-reverse;
  }
}