:host {
  display: flex;
  align-items: stretch;
}

:host([layout='horizontal']) {
  flex-direction: row;
}

:host([layout='vertical']) {
  flex-direction: column;
}

:host([layout='horizontal']) ::slotted(plus-splitter-bar) {
  cursor: col-resize;
}

:host([layout='vertical']) ::slotted(plus-splitter-bar) {
  cursor: row-resize;
}

:host([variant='default']) ::slotted(plus-splitter-bar) {
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: 50%;
}

:host([variant='default'][layout='horizontal']) ::slotted(plus-splitter-bar) {
  min-width: 4px;
}

:host([variant='default'][layout='vertical']) ::slotted(plus-splitter-bar) {
  min-height: 4px;
}
