@import 'variables/global';

$card-background-color: #fff              !default;
$card-border-color    : rgba(#000, 0.125) !default;
$card-border-radius   : $border-radius      !default;
$card-border-width    : $border-width       !default;
$card-elevation       : (
  1 : '0 02px 01px -1px rgba(0, 0, 0, 0.2), 0 01px 01px 0px rgba(0, 0, 0, 0.14), 0 1px 03px 0px rgba(0, 0, 0, 0.12)',
  2 : '0 03px 01px -2px rgba(0, 0, 0, 0.2), 0 02px 02px 0px rgba(0, 0, 0, 0.14), 0 1px 05px 0px rgba(0, 0, 0, 0.12)',
  3 : '0 03px 03px -2px rgba(0, 0, 0, 0.2), 0 03px 04px 0px rgba(0, 0, 0, 0.14), 0 1px 08px 0px rgba(0, 0, 0, 0.12)',
  4 : '0 02px 04px -1px rgba(0, 0, 0, 0.2), 0 04px 05px 0px rgba(0, 0, 0, 0.14), 0 1px 10px 0px rgba(0, 0, 0, 0.12)',
  5 : '0 03px 05px -1px rgba(0, 0, 0, 0.2), 0 05px 08px 0px rgba(0, 0, 0, 0.14), 0 1px 14px 0px rgba(0, 0, 0, 0.12)',
  6 : '0 03px 05px -1px rgba(0, 0, 0, 0.2), 0 06px 10px 0px rgba(0, 0, 0, 0.14), 0 1px 18px 0px rgba(0, 0, 0, 0.12)',
  7 : '0 04px 05px -2px rgba(0, 0, 0, 0.2), 0 07px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12)',
  8 : '0 05px 05px -3px rgba(0, 0, 0, 0.2), 0 08px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)',
  9 : '0 05px 06px -3px rgba(0, 0, 0, 0.2), 0 09px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12)',
  10: '0 06px 06px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12)',
  11: '0 06px 07px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12)',
  12: '0 07px 08px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12)',
  13: '0 07px 08px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12)',
  14: '0 07px 09px -4px rgba(0, 0, 0, 0.2), 0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12)',
  15: '0 08px 09px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12)',
  16: '0 08px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12)',
  17: '0 08px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12)',
  18: '0 09px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12)',
  19: '0 09px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12)',
  20: '0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12)',
  21: '0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 21px 33px 3px rgba(0, 0, 0, 0.14), 0 8px 40px 7px rgba(0, 0, 0, 0.12)',
  22: '0 10px 14px -6px rgba(0, 0, 0, 0.2), 0 22px 35px 3px rgba(0, 0, 0, 0.14), 0 8px 42px 7px rgba(0, 0, 0, 0.12)',
  23: '0 11px 14px -7px rgba(0, 0, 0, 0.2), 0 23px 36px 3px rgba(0, 0, 0, 0.14), 0 9px 44px 8px rgba(0, 0, 0, 0.12)',
  24: '0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12)',
) !default;