<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <plus-center>
      <plus-avatar-group>
        <plus-avatar>
          <plus-icon name="person" size="1.0em"></plus-icon>
        </plus-avatar>
        <plus-avatar>
          <plus-icon name="person" size="1.5em"></plus-icon>
        </plus-avatar>
        <plus-avatar>
          <plus-icon name="person" size="2.0em"></plus-icon>
        </plus-avatar>
      </plus-avatar-group>
    </plus-center>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/avatar-group.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/avatar.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/center.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/icon.js';
    </script>
  </body>
</html>
