<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <plus-center>
      <plus-avatar>
        <img src="https://picsum.photos/id/177/90/90" />
        <a href="https://picsum.photos/id/177/90/90" target="_blank"></a>
      </plus-avatar>
    </plus-center>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/avatar.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/center.js';
    </script>
  </body>
</html>
