<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <plus-center>
      <plus-avatar-group>
        <plus-avatar shape="circle">C</plus-avatar>
        <plus-avatar shape="round">R</plus-avatar>
        <plus-avatar shape="tile">T</plus-avatar>
      </plus-avatar-group>
    </plus-center>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/avatar-group.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/avatar.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/center.js';
    </script>
  </body>
</html>
