<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      svg {
        padding: 0.5rem;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <plus-center>
      <plus-avatar>
        <svg viewBox="0 0 24 24" stroke="currentColor" fill="none">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="7" r="4"></circle>
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
        </svg>
      </plus-avatar>
    </plus-center>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/avatar.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/center.js';
    </script>
  </body>
</html>
