<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <plus-center>
      <plus-avatar></plus-avatar>
      <plus-tooltip>Tooltip</plus-tooltip>
    </plus-center>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/avatar.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/center.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/tooltip.js';
    </script>
  </body>
</html>
