$dialog-footer-border-color: rgba(0, 0, 0, 0.2);
$dialog-footer-border-width: 1px;
$dialog-footer-border-radius: calc(0.3rem - 1px);
$dialog-footer-padding: 1rem;
$dialog-footer-margin-between: 0.5rem;
