.accordion {
    --tblr-accordion-color: var(--tblr-body-color);
    --tblr-accordion-bg: transparent;
    --tblr-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --tblr-accordion-border-color: var(--tblr-border-color-translucent);
    --tblr-accordion-border-width: var(--tblr-border-width);
    --tblr-accordion-border-radius: var(--tblr-border-radius);
    --tblr-accordion-inner-border-radius: calc(var(--tblr-border-radius) - (var(--tblr-border-width)));
    --tblr-accordion-btn-padding-x: 1.25rem;
    --tblr-accordion-btn-padding-y: 1rem;
    --tblr-accordion-btn-color: var(--tblr-body-color);
    --tblr-accordion-btn-bg: transparent;
    --tblr-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231d273b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --tblr-accordion-btn-icon-width: 1rem;
    --tblr-accordion-btn-icon-transform: rotate(-180deg);
    --tblr-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --tblr-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231a569d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --tblr-accordion-btn-focus-border-color: var(--tblr-border-color-translucent);
    --tblr-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, 0.25);
    --tblr-accordion-body-padding-x: 1.25rem;
    --tblr-accordion-body-padding-y: 1rem;
    --tblr-accordion-active-color: inherit;
    --tblr-accordion-active-bg: transparent
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--tblr-accordion-btn-padding-y) var(--tblr-accordion-btn-padding-x);
    font-size: .875rem;
    color: var(--tblr-accordion-btn-color);
    text-align: left;
    background-color: var(--tblr-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--tblr-accordion-transition)
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button {
        transition: none
    }
}

.accordion-button:not(.collapsed) {
    color: var(--tblr-accordion-active-color);
    background-color: var(--tblr-accordion-active-bg);
    box-shadow: inset 0 calc(-1 * var(--tblr-accordion-border-width)) 0 var(--tblr-accordion-border-color)
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--tblr-accordion-btn-active-icon);
    transform: var(--tblr-accordion-btn-icon-transform)
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--tblr-accordion-btn-icon-width);
    height: var(--tblr-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--tblr-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--tblr-accordion-btn-icon-width);
    transition: var(--tblr-accordion-btn-icon-transition)
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button::after {
        transition: none
    }
}

.accordion-button:hover {
    z-index: 2
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--tblr-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: var(--tblr-accordion-btn-focus-box-shadow)
}

.accordion-header {
    margin-bottom: 0
}

.accordion-item {
    color: var(--tblr-accordion-color);
    background-color: var(--tblr-accordion-bg);
    border: var(--tblr-accordion-border-width) solid var(--tblr-accordion-border-color)
}

.accordion-item:first-of-type {
    border-top-left-radius: var(--tblr-accordion-border-radius);
    border-top-right-radius: var(--tblr-accordion-border-radius)
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: var(--tblr-accordion-inner-border-radius);
    border-top-right-radius: var(--tblr-accordion-inner-border-radius)
}

.accordion-item:not(:first-of-type) {
    border-top: 0
}

.accordion-item:last-of-type {
    border-bottom-right-radius: var(--tblr-accordion-border-radius);
    border-bottom-left-radius: var(--tblr-accordion-border-radius)
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: var(--tblr-accordion-inner-border-radius);
    border-bottom-left-radius: var(--tblr-accordion-inner-border-radius)
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: var(--tblr-accordion-border-radius);
    border-bottom-left-radius: var(--tblr-accordion-border-radius)
}

.accordion-body {
    padding: var(--tblr-accordion-body-padding-y) var(--tblr-accordion-body-padding-x)
}

.accordion-flush .accordion-collapse {
    border-width: 0
}

.accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0
}

.accordion-flush .accordion-item:first-child {
    border-top: 0
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 0
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 0
}

[data-bs-theme=dark] .accordion-button::after {
    --tblr-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2379a6dc'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --tblr-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2379a6dc'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.theme-dark .accordion-button,
.theme-dark .markdown,
.theme-dark .markdown>* {
    color: inherit
}

.theme-dark .accordion-button:after,
.theme-dark .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

@media not print {
    @media (prefers-color-scheme: dark) {

        .theme-dark-auto .accordion-button,
        .theme-dark-auto .markdown,
        .theme-dark-auto .markdown>* {
            color: inherit
        }

        .theme-dark-auto .accordion-button:after,
        .theme-dark-auto .btn-close {
            filter: invert(1) grayscale(100%) brightness(200%)
        }
    }
}

.accordion {
    --tblr-accordion-color: var(--tblr-body-color)
}

.accordion-button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none
}

.accordion-button:after {
    opacity: .7
}

.accordion-button:not(.collapsed) {
    font-weight: var(--tblr-font-weight-bold);
    border-bottom-color: transparent;
    box-shadow: none
}

.accordion-button:not(.collapsed):after {
    opacity: 1
}