@import 'reset';
@import 'mixins/boolean';
@import 'toast.variables';

:host {
  display: inline;
  position: fixed;
  right: 0;
  left: 0;
}

:host([state=closed]) {
  display: none;
}

:host([placement*=top]) {
  top: 0;
  bottom: unset;
}

:host([placement*=bottom]) {
  top: unset;
  bottom: 0;
}

.root {
  position: fixed;
}

.full-width {
  width: 100%;
}

.ltr {
  right: unset;
  left: 50%;
  transform: translate(-50%, 0);
}

.rtl {
  right: 50%;
  left: unset;
  transform: translate(50%, 0);
}

.top {
  top: 0;
  bottom: unset;
}

.right {
  right: 0;
  left: unset;
  transform: translate(0, 0);
}

.bottom {
  top: unset;
  bottom: 0;
}

.left {
  right: unset;
  left: 0;
  transform: translate(0, 0);
}

// animation

:host(#{boolean(animation)}[state=opening]),
:host(#{boolean(animation)}[state=closing]) {
  .root {
    transition: 0.3s;
  }
}

// move animation

:host([animation=move][state=open]),
:host([animation=move][state=closing]) {
  .top {
    transform: translate(-50%, -100%);
  }
  .bottom {
    transform: translate(-50%, 100%);
  }
  .right {
    transform: translate(100%, 0);
  }
  .left {
    transform: translate(-100%, 0);
  }
}

:host([animation=move][state=close]),
:host([animation=move][state=opening]) {
  .top,
  .bottom {
    transform: translate(-50%, 0);
  }
  .right,
  .left {
    transform: translate(0, 0);
  }
}

// fade animation

:host([animation=fade][state=open]),
:host([animation=fade][state=closing]) {
  .root {
    opacity: 0;
  }
}

:host([animation=fade][state=close]),
:host([animation=fade][state=opening]) {
  .root {
    opacity: 1;
  }
}

// TODO
:host {
  z-index: 10;
  pointer-events: none;
}
.root {
  transition: 0.85s;
  pointer-events: all;
  padding: 8px 45px;
  background: rgba(255, 207, 165, 0.9);
  border-color: rgba(255, 207, 165, 0.9);
  margin: 15px;
  border-radius: 3px;
  // animation: iziT-fadeInDown 0.7s ease both;
}
:host([animation=flip-x][state=open]) .root {
  opacity: 0;
}
:host([animation=flip-x][state=opening]) .root {
  animation: iziT-flipInX 0.85s cubic-bezier(0.35, 0, 0.25, 1) both;
}
:host([animation=flip-x][state=closing]) .root {
  backface-visibility: visible !important;
  animation: iziT-flipOutX 0.7s cubic-bezier(0.4, 0.45, 0.15, 0.91) both;
}
@keyframes iziT-flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}
@keyframes iziT-flipOutX {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
@keyframes iziT-fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}