:host([animation='shift-toward'][state='show']) {
  .show {
    display: inline-block;
    -webkit-animation: shift-toward 1s;
    animation: shift-toward 1s;
  }

  @-webkit-keyframes shift-toward {
    from {
      opacity: 0;
      @if ([placement == 'top']) {
        transform: translateY(-10px);
      } @else if ([placement == 'right']) {
        transform: translateX(10px);
      } @else if ([placement == 'bottom']) {
        transform: translateY(10px);
      } @else if ([placement == 'left']) {
        transform: translateX(-10px);
      }
    }
    to {
      opacity: 1;
    }

  }

  @keyframes shift-toward {
    from {
      opacity: 0;
      @if ([placement == 'top']) {
        transform: scale(0) translate(-50%, -55%);
      } @else if ([placement == 'right']) {
        transform: translateX(10px);
      } @else if ([placement == 'bottom']) {
        transform: translateY(10px);
      } @else if ([placement == 'left']) {
        transform: translateX(-10px);
      }
    }
    to {
      opacity: 1;
      @if ([placement == 'top']) {
        transform: scale(1.1) translate(-50%, -45%);
      } @else if ([placement == 'right']) {
        transform: translateX(-10px);
      } @else if ([placement == 'bottom']) {
        transform: translateY(10px);
      } @else if ([placement == 'left']) {
        transform: translateX(-10px);
      }
    }
  }
}


