@use 'progress-bar.variables' as *;

:host {
  // @Property() Specifies the color of the bar.
  --plus-progress-bar-indicator-background-color: dodgerblue;
}

:host {
  background-color: $progress-bar-background-color;
  border-radius: $progress-bar-border-radius;
  font-size: $progress-bar-font-size;
  height: $progress-bar-height;
  display: flex;
  overflow: hidden;
  position: relative; // TODO
  direction: ltr; // TODO
}

:host > * {
  position: absolute;
  inset: 0;
}

:host::part(underlay) {
  background-color: transparent;
}

:host::part(buffer) {
  background-color: $progress-bar-buffer-background-color;
}

:host::part(indicator) {
  background-color: $progress-bar-indicator-background-color;
  color: $progress-bar-indicator-color;
  transition: $progress-bar-indicator-transition;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

:host([sync])::part(indicator) {
  transition: none;
}

// TODO

:host([variant='indeterminate'])::part(indicator) {
  animation: $progress-bar-indeterminate-indicator-animation;
  width: $progress-bar-indeterminate-indicator-width;
}
