@import 'avatar-group.variables';

:host {
  // @prop Used to adjust the gutter between avatars in stacked mode.
  --plus-avatar-group-gutter-stacked: #{$avatar-group-gutter-stacked};

  // @prop Used to adjust the gutter between avatars in unstacked mode.
  --plus-avatar-group-gutter-unstacked: #{$avatar-group-gutter-unstacked};
}

:host {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}

:host ::slotted(plus-avatar) {
  margin-inline-end: var(--plus-avatar-group-gutter-unstacked);
}

:host ::slotted(plus-avatar:last-of-type) {
  margin-inline-end: 0;
}

:host(#{boolean(hoverable)}) ::slotted(plus-avatar:hover) {
  z-index: 1;
}

:host(#{boolean(stacked)}) ::slotted(plus-avatar) {
  box-shadow: $avatar-group-box-shadow;
  margin-inline-end: var(--plus-avatar-group-gutter-stacked);
}
