plus-transition[name='fade-out-down'] {
  animation-name: fade-out-down;
}

@keyframes fade-out-down {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
