plus-transition[name='fade-out-down-big'] {
  animation-name: fade-out-down-big;
}

@keyframes fade-out-down-big {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
