:global plus-field input:not([type='number'])::-webkit-inner-spin-button,
:global plus-field input:not([type='number'])::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

// :global plus-field input[type='number'] {
//   -moz-appearance: textfield;
// }

// :global plus-field input[type='number']::-webkit-outer-spin-button,
// :global plus-field input[type='number']::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

:global plus-field select {
  appearance: none;
}

// :global plus-field > input[type='color']:not([slot]) {
//   // border: none;
//   // border-radius: $border-radius;
//   display: block;
//   width: 100%;
//   box-sizing: border-box;
// }

// [part='input'] {
//   &::slotted(
//       :where(
//           input[type='date'],
//           input[type='datetime'],
//           input[type='datetime-local'],
//           input[type='email'],
//           input[type='file'],
//           input[type='month'],
//           input[type='number'],
//           input[type='password'],
//           input[type='search'],
//           input[type='tel'],
//           input[type='text'],
//           input[type='time'],
//           input[type='url'],
//           input[type='week'],
//           select,
//           textarea
//         )
//     ) {
//     padding-inline-start: calc(var(--plus-field-control-start-offset) + 0.5rem);
//     padding-inline-end: calc(var(--plus-field-control-end-offset) + 0.5rem);
//   }
//   //   &::slotted(*:focus-visible) {
//   //     outline: none;
//   //   }
// }
