// @import 'elements/color.scss';
@import 'elements/range.scss';
@import 'elements/select.scss';
@import 'elements/textarea.scss';

@mixin outer($area) {
  grid-area: $area;
  display: flex;
  flex-wrap: nowrap;
  align-self: stretch; // TODO
  align-items: center; // TODO
}

@mixin inner($ltr) {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  @if $ltr {
    left: 0;
  } @else {
    right: 0;
  }
}

@mixin vertical($area) {
  grid-area: $area;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

:host {
  display: grid;
  align-items: center;
  grid-template:
    'header header . '
    'before control after'
    'footer footer footer';
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  --plus-field-offset-start: this-offset-start;
  --plus-field-offset-end: this-offset-end;
}

[part='before'] {
  @include outer(before);
}

[part='header'] {
  @include vertical(header);
}

[part='start'] {
  @include inner(true);
}

[part='label'] {
  grid-area: header;
  margin-bottom: 0.5rem; // TODO
}

[part='control'] {
  grid-area: control;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

[part='input'] {
  flex-grow: 1;
}

[part~='details'] {
  grid-area: footer;
  display: block; // TODO
  margin-top: 0.25rem; // TODO
  font-size: 0.875em; // TODO
}

[part~='hint'] {
  color: rgba(33, 37, 41, 0.75); // TODO
}

[part='end'] {
  @include inner(false);
}

[part='footer'] {
  @include vertical(footer);
}

[part='after'] {
  @include outer(after);
}

::slotted(:where(this-tiles)) {
  border-radius: 0;
}

.after,
::slotted([slot='before']) {
  border-end-end-radius: 0;
  border-start-end-radius: 0;
}

.before,
::slotted([slot='after']) {
  border-end-start-radius: 0;
  border-start-start-radius: 0;
}
