plus-transition[name='rotate-in-down-left'] {
  animation-name: rotate-in-down-left;
  transform-origin: left bottom;
}

@keyframes rotate-in-down-left {
  from {
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
