/*
 * REBOOT
 */

::slotted(select) {
  // Remove the margin in Firefox and Safari
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  // Remove the inheritance of text transform in Firefox
  text-transform: none;

  // Remove the inheritance of word-wrap in Safari.
  // See https://github.com/twbs/bootstrap/issues/24990
  word-wrap: normal;
}

::slotted(select:disabled) {
  // Undo the opacity change from Chrome
  opacity: 1;
}

/*
 * MAIN
 */

::slotted(select) {
  display: block;
  width: 100%;
  padding: $field-select-padding;
  font-family: $field-select-font-family;
  font-size: $field-select-font-size;
  font-weight: $field-select-font-weight;
  line-height: $field-select-line-height;
  color: $field-select-color;
  appearance: none;
  background-color: $field-select-background-color;
  background-image: $field-select-background-image;
  background-repeat: no-repeat;
  background-position: $field-select-background-position;
  background-size: $field-select-background-size;
  border: $field-select-border;
  border-radius: $field-select-border-radius;
  box-shadow: $field-select-box-shadow;
  transition: $field-select-transition;
}

@media (prefers-reduced-motion: reduce) {
  ::slotted(select) {
    transition: none;
  }
}

::slotted(select:focus) {
  border-color: $field-select-focus-border-color;
  outline: 0;
  box-shadow: $field-select-focus-box-shadow;
}

::slotted(select[multiple]),
::slotted(select[size]:not([size='1'])) {
  padding-right: $field-select-padding-x;
  background-image: none;
}

::slotted(select:disabled) {
  color: $field-select-disabled-color;
  background-color: $field-select-disabled-background-color;
  border-color: $field-select-disabled-border-color;
}

// Remove outline from select box in FF
global :host select:-moz-focusring {
  color: transparent;
  text-shadow: $field-select-text-shadow;
}

:host([size='sm']) ::slotted(select) {
  padding: $field-select-padding-sm;
  font-size: $field-select-font-size-sm;
  border-radius: $field-select-border-radius-sm;
}

:host([size='md']) ::slotted(select) {
}

:host([size='lg']) ::slotted(select) {
  padding: $field-select-padding-lg;
  font-size: $field-select-font-size-lg;
  border-radius: $field-select-border-radius-lg;
}

@media (prefers-color-scheme: light) {
  ::slotted(select) {
    background-image: $field-select-indicator-light;
  }
}

@media (prefers-color-scheme: dark) {
  ::slotted(select) {
    background-image: $field-select-indicator-dark;
  }
}
