@import 'spinner.variables';
@import 'spinners';

:host {
  color: currentColor;
  display: inline-block;
  font-size: 1rem;
  overflow: hidden;
  vertical-align: middle;
}

@each $key, $value in $spinner-sizes {
  :host([size='#{$key}']) {
    height: #{$value};
    width: #{$value};
  }
}

.wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
