// host
$breadcrumb-gutter-x: 0.5em;
$breadcrumb-gutter-y: 0.5em;

// expander
$breadcrumb-expander-background-color: whitesmoke;
$breadcrumb-expander-border-radius: $border-radius;
$breadcrumb-expander-color: currentColor;

// separator
$breadcrumb-separator-color: currentColor;
