// host
$breadcrumb-gutter-x                 : 0.5em;

// expander
$breadcrumb-expander-background-color: #F5F5F5;
$breadcrumb-expander-border-radius   : 2px;
$breadcrumb-expander-color           : currentColor;
$breadcrumb-expander-height          : 1em;
$breadcrumb-expander-width           : 1.5em;

// separator
$breadcrumb-separator-color          : currentColor;
$breadcrumb-separator-height         : 1em;
$breadcrumb-separator-width          : 1em;