// host
$breadcrumb-gutter-x: 0.5em;
$breadcrumb-gutter-y: 0.5em;

// expander
$breadcrumb-expander-background-color: #f5f5f5;
$breadcrumb-expander-border-radius: 2px;
$breadcrumb-expander-color: currentColor;

// separator
$breadcrumb-separator-color: currentColor;
