@import '../../../node_modules/cropperjs/dist/cropper.min.css';
@import 'reset';

:host {
  display: block;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.image {
  display: block;
  max-width: 100%;
}

.rounded .cropper-face ,
.rounded .cropper-view-box {
  border-radius: 50%;
}