// backdrop
$cropper-backdrop-background-color: black;
$cropper-backdrop-opacity: 0.5;

// guides
$cropper-guides-border-color: white;
$cropper-guides-border-opacity: 0.5;
$cropper-guides-border-style: dashed;
$cropper-guides-border-width: 1px;

// resizer
$cropper-resizer-background-color: white;
$cropper-resizer-height: 5px;
$cropper-resizer-offset: 0px;
$cropper-resizer-opacity: 1;
$cropper-resizer-width: 5px;

// viewport
$cropper-viewport-border-color: white;
$cropper-viewport-border-opacity: 1;
$cropper-viewport-border-style: solid;
$cropper-viewport-border-width: 1px;