@import '../../../node_modules/cropperjs/dist/cropper.min.css';
@import 'reset';
@import 'cropper.variables'; 

:host {

  /**
  * @prop --plus-cropper-backdrop-background-color: TODO.
  * @prop --plus-cropper-backdrop-opacity         : TODO.

  * @prop --plus-cropper-guides-border-color      : TODO.
  * @prop --plus-cropper-guides-border-opacity    : TODO.
  * @prop --plus-cropper-guides-border-style      : TODO.
  * @prop --plus-cropper-guides-border-width      : TODO.

  * @prop --plus-cropper-viewport-border-color    : TODO.
  * @prop --plus-cropper-viewport-border-opacity  : TODO.
  * @prop --plus-cropper-viewport-border-style    : TODO.
  * @prop --plus-cropper-viewport-border-width    : TODO.
  */

  --plus-cropper-backdrop-background-color: #{$cropper-backdrop-background-color};
  --plus-cropper-backdrop-opacity         : #{$cropper-backdrop-opacity};
  
  --plus-cropper-guides-border-color      : #{$cropper-guides-border-color};
  --plus-cropper-guides-border-opacity    : #{$cropper-guides-border-opacity};
  --plus-cropper-guides-border-style      : #{$cropper-guides-border-style};
  --plus-cropper-guides-border-width      : #{$cropper-guides-border-width};

  --plus-cropper-resizer-background-color : #{$cropper-resizer-background-color};
  --plus-cropper-resizer-height           : #{$cropper-resizer-height};
  --plus-cropper-resizer-offset           : #{$cropper-resizer-offset};
  --plus-cropper-resizer-opacity          : #{$cropper-resizer-opacity};
  --plus-cropper-resizer-width            : #{$cropper-resizer-width};
  
  --plus-cropper-viewport-border-color    : #{$cropper-viewport-border-color};
  --plus-cropper-viewport-border-opacity  : #{$cropper-viewport-border-opacity};
  --plus-cropper-viewport-border-style    : #{$cropper-viewport-border-style};
  --plus-cropper-viewport-border-width    : #{$cropper-viewport-border-width};
}

:host {
  display: block;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.image {
  display: block;
  max-width: 100%;
}

.cropper-modal {
  background-color: var(--plus-cropper-backdrop-background-color);
  opacity: var(--plus-cropper-backdrop-opacity);
}

.cropper-line {
  display: none;
}

.resizer-main {
  .cropper-point.point-ne,
  .cropper-point.point-nw,
  .cropper-point.point-sw,
  .cropper-point.point-se {
    display: none;
  }
}

.resizer-edge {
  .cropper-point.point-e,
  .cropper-point.point-n,
  .cropper-point.point-w,
  .cropper-point.point-s {
    display: none;
  }
}

.viewport-round {
  .cropper-face,
  .cropper-view-box,
  .cropper-view-box::after {
    border-radius: 50%;
  }
  .cropper-dashed {
    &.dashed-h {
      width: calc(92.5% - var(--plus-cropper-guides-border-width));
    }
    &.dashed-v {
      height: calc(92.5% - var(--plus-cropper-guides-border-width));
    }
  }
  .cropper-point { 
    &.point-ne {
      top: 14.64466%;
      right: 14.64466%;
    }
    &.point-nw {
      top: 14.64466%;
      left: 14.64466%;
    }
    &.point-sw {
      bottom: 14.64466%;
      left: 14.64466%;
    }
    &.point-se {
      right: 14.64466%;
      bottom: 14.64466%;
    }
  }
}

.cropper-dashed {
  border-color: var(--plus-cropper-guides-border-color);
  border-style: var(--plus-cropper-guides-border-style);
  opacity : var(--plus-cropper-guides-border-opacity);
  &.dashed-h {
    left: 50%;
    transform: translateX(-50%);
    border-top-width: var(--plus-cropper-guides-border-width);
    border-bottom-width: var(--plus-cropper-guides-border-width);
  }
  &.dashed-v {
    top: 50%;
    transform: translateY(-50%);
    border-left-width: var(--plus-cropper-guides-border-width);
    border-right-width: var(--plus-cropper-guides-border-width);
  }
}

.cropper-view-box {
  outline: none;
  position: relative;
  &::after {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: var(--plus-cropper-viewport-border-style);
    border-color: var(--plus-cropper-viewport-border-color);
    border-width: var(--plus-cropper-viewport-border-width);
    opacity : var(--plus-cropper-viewport-border-opacity);
  }
}

.cropper-point {
  &[class*="point-"] {
    --plus-cropper-resizer-offset-negative: calc((50% + var(--plus-cropper-resizer-offset)) * -1);
    --plus-cropper-resizer-offset-positive: calc((50% + var(--plus-cropper-resizer-offset)) * +1);
    margin: 0;
    height: var(--plus-cropper-resizer-height);
    width: var(--plus-cropper-resizer-width);
    opacity: var(--plus-cropper-resizer-opacity);
    background-color: var(--plus-cropper-resizer-background-color);
  }
  &[class*="point-"]:before {
    content: none;
  }
  &.point-e {
    right: 0;
    transform: translate(var(--plus-cropper-resizer-offset-positive), -50%);
  }
  &.point-n {
    top: 0;
    transform: translate(-50%, var(--plus-cropper-resizer-offset-negative));
  }
  &.point-w {
    left: 0;
    transform: translate(var(--plus-cropper-resizer-offset-negative), -50%);
  }
  &.point-s {
    bottom: 0;
    transform: translate(-50%, var(--plus-cropper-resizer-offset-positive));
  }
  &.point-ne {
    top: 0;
    right: 0;
    transform: translate(var(--plus-cropper-resizer-offset-positive), var(--plus-cropper-resizer-offset-negative));
  }
  &.point-nw {
    top: 0;
    left: 0;
    transform: translate(var(--plus-cropper-resizer-offset-negative), var(--plus-cropper-resizer-offset-negative));
  }
  &.point-sw {
    bottom: 0;
    left: 0;
    transform: translate(var(--plus-cropper-resizer-offset-negative), var(--plus-cropper-resizer-offset-positive));
  }
  &.point-se {
    right: 0;
    bottom: 0;
    transform: translate(var(--plus-cropper-resizer-offset-positive), var(--plus-cropper-resizer-offset-positive));
  }
}

.resizer-shape-round .cropper-point[class*="point-"] {
  border-radius: 50%;
}