<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body rtl>
    <plus-accordion summary="First">
      <plus-icon slot="icon-expand" name="plus"></plus-icon>
      <plus-icon slot="icon-collapse" name="dash"></plus-icon>
      <plus-faker></plus-faker>
    </plus-accordion>
    <script type="module">
      import 'https://cdn.skypack.dev/@faker-js/faker';
      import 'https://cdn.skypack.dev/@htmlplus/core/accordion.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/faker.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/icon.js';
    </script>
  </body>
</html>
