<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      plus-progress-bar {
        height: 2px;
      }
    </style>
  </head>
  <body>
    <plus-stack align-items="stretch" gap="1rem" vertical>
      <div>
        <plus-accordion summary="Summary" open>
          <plus-progress-bar variant="indeterminate" slot="top"></plus-progress-bar>
          <plus-faker seed="0"></plus-faker>
        </plus-accordion>
      </div>
      <div>
        <plus-accordion summary="Summary" open>
          <plus-progress-bar variant="indeterminate" slot="middle"></plus-progress-bar>
          <plus-faker seed="0"></plus-faker>
        </plus-accordion>
      </div>
      <div>
        <plus-accordion summary="Summary" open>
          <plus-progress-bar variant="indeterminate" slot="bottom"></plus-progress-bar>
          <plus-faker seed="0"></plus-faker>
        </plus-accordion>
      </div>
    </plus-stack>
    <script type="module">
      import 'https://cdn.skypack.dev/@faker-js/faker';
      import 'https://cdn.skypack.dev/@htmlplus/core/accordion.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/faker.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/progress-bar.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/stack.js';
    </script>
  </body>
</html>
