:host {
  display: block;
  height: 200px;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-content: start;
}

header {
  width: 100%;
  align-self: flex-start;
  background-color: red;
}

section {
  height: 100%;
  flex-grow: 1;
  background-color: green;
}

aside {
  height: 100%;
  background-color: aqua;
}
