plus-transition[name='fade-out-left-big'] {
  animation-name: fade-out-left-big;
}

@keyframes fade-out-left-big {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
