:host {
  display: inline-block;
  cursor: default;
  user-select: none;
}

:host([state=open])    [name=open],
:host([state=opening]) [name=open],
:host([state=closed])  [name=open],
:host([state=close])   [name=close],
:host([state=closing]) [name=close],
:host([state=opened])  [name=close] {
  display: none;
}