@import 'mixins';
@import 'variables';
@import 'grid.variables';

:host {

  // @prop TODO
  --plus-grid--gutter-x: 0;

  // @prop TODO
  --plus-grid--gutter-y: 0;
}

:host {
  display: block;
}

div {
  display: flex;
  height: 100%;
  width: calc(var(--plus-grid--gutter-x) + 100%);
  margin-left: calc(var(--plus-grid--gutter-x) * -1);
  margin-bottom: calc(var(--plus-grid--gutter-y) * -1);
}

::slotted(*) {
  padding-left: var(--plus-grid--gutter-x);
  padding-bottom: var(--plus-grid--gutter-y);
}

// TODO
#{boolean(vertical)} {
  flex-direction: column;
}

// TODO
#{boolean(reverse)} {
  flex-direction: row-reverse;
}

// TODO
#{boolean(vertical)}#{boolean(reverse)} {
  flex-direction: column-reverse;
}

@each $gutter, $value in $gutters {
  @each $key in (x, y) {
    [gutter-#{$key}=#{$gutter}],
    [gutter=#{$gutter}]:not([gutter-#{$key}]) {
      --plus-grid--gutter-#{$key}: #{$value};
    }
  }
}

@each $key, $value in $align-content {
  [align-content=#{$key}] {
    align-content: $value;
  }
}

@each $key, $value in $align-items {
  [align-items=#{$key}] {
    align-items: $value;
  }
}

@each $key, $value in $justify-content {
  [justify-content=#{$key}] {
    justify-content: $value;
  }
}

@each $key, $value in $wrap {
  [wrap=#{$key}] {
    flex-wrap: $value;
  }
}

@each $breakpoint, $value in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @each $key, $value in $align-content {
      [align-content-#{$breakpoint}=#{$key}] {
        align-content: $value;
      }
    }
    @each $key, $value in $align-items {
      [align-items-#{$breakpoint}=#{$key}] {
        align-items: $value;
      }
    }
    @each $key, $value in $justify-content {
      [justify-content-#{$breakpoint}=#{$key}] {
        justify-content: $value;
      }
    }
    @each $key, $value in $wrap {
      [wrap-#{$breakpoint}=#{$key}] {
        flex-wrap: $value;
      }
    }
  }
}
