<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <plus-center>
      <plus-dialog-toggler connector="dialog-default"> Open </plus-dialog-toggler>
    </plus-center>
    <plus-dialog connector="dialog-default">
      <plus-dialog-content>
        <plus-dialog-header> Dialog Title </plus-dialog-header>
        <plus-dialog-body>
          <plus-faker></plus-faker>
        </plus-dialog-body>
        <plus-dialog-footer>
          <plus-dialog-toggler> Close </plus-dialog-toggler>
        </plus-dialog-footer>
      </plus-dialog-content>
    </plus-dialog>

    <script type="module">
      import 'https://cdn.skypack.dev/@faker-js/faker';
      import 'https://cdn.skypack.dev/@htmlplus/core/center.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/dialog-body.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/dialog-content.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/dialog-footer.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/dialog-header.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/dialog-toggler.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/dialog.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/faker.js';
    </script>
  </body>
</html>
