$dialog-content-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$dialog-content-background-color: white;
$dialog-content-border-width: 1px;
$dialog-content-border-color: rgba(0, 0, 0, 0.2);
$dialog-content-border-radius: 0.3rem;
