@import 'icon.variables';

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

@each $key, $value in $icon-size {
  :host([size='#{$key}']) {
    height: $value;
    width: $value;
  }
}

svg {
  display: block;
  height: 100%;
  width: 100%;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
