<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <plus-stack vertical>
      <plus-format-bytes value="-1000"></plus-format-bytes>
      <plus-format-bytes value="-1000" signed></plus-format-bytes>
      <plus-format-bytes value="0"></plus-format-bytes>
      <plus-format-bytes value="0" signed></plus-format-bytes>
      <plus-format-bytes value="1000"></plus-format-bytes>
      <plus-format-bytes value="1000" signed></plus-format-bytes>
    </plus-stack>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/format-bytes.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/stack.js';
    </script>
  </body>
</html>
