<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <plus-stack vertical>
      <plus-format-bytes unit="auto" value="1000"></plus-format-bytes>
      <plus-format-bytes unit="base" value="10000"></plus-format-bytes>
      <plus-format-bytes unit="kilo" value="100000"></plus-format-bytes>
      <plus-format-bytes unit="kilo" value="1000000"></plus-format-bytes>
      <plus-format-bytes unit="kilo" value="10000000"></plus-format-bytes>
      <plus-format-bytes unit="kilo" value="100000000"></plus-format-bytes>
      <plus-format-bytes unit="kilo" value="1000000000"></plus-format-bytes>
    </plus-stack>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/format-bytes.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/stack.js';
    </script>
  </body>
</html>
