@import 'grid-item.variables';

:host {
  flex-grow: 0;
  flex-basis: auto;
  max-width: none;
  box-sizing: border-box;
}

@each $key, $value in $align-self {
  :host([align-self='#{$key}']) {
    align-self: $value;
  }
}

@each $breakpoint, $value in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @each $key, $value in $align-self {
      :host([align-self-#{$breakpoint}='#{$key}']) {
        align-self: $value;
      }
    }
  }
}

@each $breakpoint, $value in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    :host([#{$breakpoint}='auto']) {
      flex-basis: auto;
      max-width: none;
    }
    :host([#{$breakpoint}='grow']) {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }
    @for $number from 1 through $column {
      :host([#{$breakpoint}='#{$number}']) {
        flex-basis: $number * $base;
        max-width: $number * $base;
      }
      :host([offset-#{$breakpoint}='#{$number}']) {
        margin-left: $number * $base;
      }
      :host([order-#{$breakpoint}='#{$number}']) {
        order: $number;
      }
    }
  }
}

@each $breakpoint, $value in slice($breakpoints, 1, -2) {
  @include media-breakpoint-up($breakpoint) {
    :host([hide-#{$breakpoint}-up]) {
      display: none;
    }
  }
}

@each $breakpoint, $value in slice($breakpoints, 2, -2) {
  $next: breakpoint-next($breakpoint);
  @include media-breakpoint-down($next) {
    :host([hide-#{$breakpoint}-down]) {
      display: none;
    }
  }
}

@each $breakpoint, $value in $breakpoints {
  $next: breakpoint-next($breakpoint);
  @include media-breakpoint-between($breakpoint, $next) {
    :host([hide-#{$breakpoint}]) {
      display: none;
    }
  }
}
