$transition-duration: (
  slower: 3s,
  slow: 2s,
  normal: 1s,
  fast: 0.8s,
  faster: 0.5s, 
);

$transition-direction: (
  normal: normal,
  reverse: reverse,
  alternate: alternate,
  alternate-reverse: alternate-reverse,
);