plus-transition[name='rotate-in'] {
  animation-name: rotate-in;
  transform-origin: center;
}

@keyframes rotate-in {
  from {
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
