plus-transition[name='rotate-in-up-right'] {
  animation-name: rotate-in-up-right;
  transform-origin: right bottom;
}

@keyframes rotate-in-up-right {
  from {
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
