@import 'flash.css';
@import 'head-shake.css';
@import 'heart-beat.css';
@import 'jello.css';
@import 'pulse.css';
@import 'rubber-band.css';
@import 'shake-x.css';
@import 'shake-y.css';
@import 'shake.css';
@import 'swing.css';
@import 'tada.css';
@import 'wobble.css';


