<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      plus-animation {
        background: lightgray;
        width: 100px;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <plus-center>
      <plus-animation duration="2500" iterations="Infinity" name="fade-in" run></plus-animation>
    </plus-center>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/animation.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/center.js';
    </script>
  </body>
</html>
