body {
  margin: 0;
}

#container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#menu {
  width: 320px;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }
  a.active {
    font-weight: bold;
  }
}

#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#title {
  padding: 1rem;
}

#preview {
  flex-grow: 1;
}

iframe {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}
