// @use 'sass:math';
@import 'reset';
@import 'dialog-footer.variables';
  
:host {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  // TODO: sass:math 
  // padding: $dialog-footer-padding - math.div($dialog-footer-margin-between, 2);
  border-top: solid $dialog-footer-border-width $dialog-footer-border-color;
  border-bottom-right-radius: $dialog-footer-border-radius;
  border-bottom-left-radius: $dialog-footer-border-radius;
}

:host ::slotted(*) {
  // TODO: sass:math 
  // margin: math.div($dialog-footer-margin-between, 2);
}