@import 'breadcrumb.variables';

:host {
  // @Property() Used to adjust the Horizontal gap.
  --plus-breadcrumb-gutter-x: #{$breadcrumb-gutter-x};

  // @Property() Used to adjust the Vertical gap.
  --plus-breadcrumb-gutter-y: #{$breadcrumb-gutter-y};
}

:host {
  display: inline-block;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: var(--plus-breadcrumb-gutter-x);
  row-gap: var(--plus-breadcrumb-gutter-y);
}

.expander,
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex-shrink: 0;
}

.expander {
  background-color: $breadcrumb-expander-background-color;
  border-radius: $breadcrumb-expander-border-radius;
  color: $breadcrumb-expander-color;
  cursor: pointer;
  &:focus {
    outline-color: currentColor;
  }
}

.separator {
  color: $breadcrumb-separator-color;
}

.rtl {
  transform: scaleX(-1);
}

svg,
.expander ::slotted(*) {
  fill: currentColor;

  // TODO
  height: 1em;
}
