:host {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $breadcrumb-gap;
}

:host([block]) {
  display: flex;
}

[part='expander'],
[part='separator'] {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex-shrink: 0;
}

[part='expander'] {
  background-color: $breadcrumb-expander-background-color;
  border-radius: $breadcrumb-expander-border-radius;
  color: $breadcrumb-expander-color;
  cursor: pointer;
  &:focus {
    outline-color: currentColor;
  }
}

[part='separator'] {
  color: $breadcrumb-separator-color;
}

:dir(rtl)[part='expander'],
:dir(rtl)[part='separator'] {
  transform: scaleX(-1);
}

[part='expander'] svg,
[part='expander'] ::slotted(*) {
  fill: currentColor;

  // TODO
  height: 1em;
}
