:host([type=double-bounce]) {

    .wrapper div {
      
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: currentColor;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        animation: bounce 2.0s infinite ease-in-out;
    
        &:nth-child(2) {
            animation-delay: -1.0s;
        }
    }

    @keyframes bounce {
        0%, 100% { 
            transform: scale(0.0);
        } 
        50% { 
            transform: scale(1.0);
        }
    }     
}