// host
$breadcrumb-gutter-x: 0.5rem;
$breadcrumb-gutter-y: 0.5rem;

// more
$breadcrumb-more-background-color: #F5F5F5;
$breadcrumb-more-border-radius: 2px;
$breadcrumb-more-color: currentColor;
$breadcrumb-more-height: 1rem;
$breadcrumb-more-width: 1.5rem;

// separator
$breadcrumb-separator-color: currentColor;
$breadcrumb-separator-height: 1rem;
$breadcrumb-separator-width: 1rem;