@import 'all';
@import 'reset';
@import 'breadcrumb.variables';

:host {
  /**
    * @prop --plus-breadcrumb-gutter         : TODO
    * @prop --plus-breadcrumb-separator-color: TODO
    * @prop --plus-breadcrumb-separator-size : TODO
    */

  --plus-breadcrumb-gutter: #{$breadcrumb-gutter};
  --plus-breadcrumb-separator-color: #{$breadcrumb-separator-color};
  --plus-breadcrumb-separator-size: #{$breadcrumb-separator-size};
}

:host {
  display: block;
}

.root {
  column-gap: var(--plus-breadcrumb-gutter);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.separator {
  color: var(--plus-breadcrumb-separator-color);
  width: var(--plus-breadcrumb-separator-size);
  height: var(--plus-breadcrumb-separator-size);
}

.rtl {
  transform: scaleX(-1);
}

svg {
  fill: var(--plus-breadcrumb-separator-color);
  width: 100%;
  height: 100%;
}

.more svg {
  fill: var(--plus-breadcrumb-separator-color);
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  flex-shrink: 0;
  user-select: none;
}
