@import '../../../node_modules/cropperjs/dist/cropper.min.css';
@import 'reset';

:host {
  display: block;
}

.wrapper {
  width: inherit;
  height: inherit;
}

.image {
  display: block;
  max-width: 100%;
}