:host([arrow="narrow"]) {

  [data-popper-placement="bottom"] [x-arrow] {
    top: -10px;
    //left: calc(50% - 4px);
    border-bottom: 10px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  [data-popper-placement="top"] [x-arrow] {
    bottom: -10px;
    //left: calc(50% - 4px);
    border-top: 10px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  [data-popper-placement="left"] [x-arrow] {
    right: -10px;
    //top: calc(50% - 4px);
    border-left: 10px solid black;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

  [data-popper-placement="right"] [x-arrow] {
    left: -10px;
    //top: calc(50% - 4px);
    border-right: 10px solid black;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
}
