:host {
  display: block;
  overflow: auto;
}

.root {
  border-radius: inherit;
  overflow: hidden;
  position: relative;
}

::slotted(*) {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // TODO: Experimental
  margin: 0;
}
