<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      plus-card {
        --plus-card-border-radius: 3rem 0;
        --plus-card-border-width: 2px;
        --plus-card-border-color: darkgray;
        --plus-card-background-color: lightgray;
        height: 12rem;
        width: 12rem;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <plus-card elevation="12" outlined></plus-card>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/card.js';
    </script>
  </body>
</html>
