@import 'spinner.variables';
@import 'spinners';

:host {
  color: currentColor;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;

  // TODO
  color: var(--plus-color, currentColor);
}

@each $key, $value in $spinner-sizes {
  :host([size='#{$key}']) {
    height: #{$value};
    width: #{$value};
  }
}

.root {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
