:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

:host([vertical]) {
  flex-direction: row;

  ::slotted(plus-tabs-bar) {
    flex-direction: column;
  }

  ::slotted(plus-tabs-bar[reverse]) {
    flex-direction: column-reverse;
  }
}
