@import 'all';
@import 'reset';
@import 'toast.variables';

:host {
  display: inline;
  position: fixed;
  right: 0;
  left: 0;
}

:host([state=closed]) {
  display: none;
}

:host([placement*=top]) {
  top: 0;
  bottom: unset;
}

:host([placement*=bottom]) {
  top: unset;
  bottom: 0;
}

.container {
  position: fixed;
  background-color: red;
}

.full-width {
  width: 100%;
}

.top {
  top: 0;
  bottom: unset;
}

.bottom {
  top: unset;
  bottom: 0;
}

.ltr {
  right: unset;
  left: 50%;
  transform: translate(-50%, 0);
}

.rtl {
  right: 50%;
  left: unset;
  transform: translate(50%, 0);
}

.right,
.left {
  transform: translate(0, 0);
}

.right.ltr,
.left.rtl {
  right: 0;
  left: unset;
}

.right.rtl,
.left.ltr {
  right: unset;
  left: 0;
}

// animation

:host([animation][state=opening]),
:host([animation][state=closing]) {
  .container {
    transition: 0.3s;
  }
}

// move animation

:host([animation=move][state=open]),
:host([animation=move][state=closing]) {
  .top {
    transform: translate(-50%, -100%);
  }
  .bottom {
    transform: translate(-50%, 100%);
  }
  .right {
    transform: translate(100%, 0);
  }
  .left {
    transform: translate(-100%, 0);
  }
}

:host([animation=move][state=close]),
:host([animation=move][state=opening]) {
  .top,
  .bottom {
    transform: translate(-50%, 0);
  }
  .right,
  .left {
    transform: translate(0, 0);
  }
}

// fade animation

:host([animation=fade][state=open]),
:host([animation=fade][state=closing]) {
  .container {
    opacity: 0;
  }
}

:host([animation=fade][state=close]),
:host([animation=fade][state=opening]) {
  .container {
    opacity: 1;
  }
}