:host([arrow='large']) {
  [data-popper-placement='bottom'] [x-arrow] {
    top: -14px;
    //left: calc(50% - 9px);
    border-bottom: 14px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }

  [data-popper-placement='top'] [x-arrow] {
    bottom: -14px;
    //left: calc(50% - 9px);
    border-top: 14px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }

  [data-popper-placement='left'] [x-arrow] {
    right: -14px;
    //top: calc(50% - 9px);
    border-left: 14px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  [data-popper-placement='right'] [x-arrow] {
    left: -14px;
    //top: calc(50% - 9px);
    border-right: 14px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}
