:host([arrow='small']) {
  [data-popper-placement='bottom'] [x-arrow] {
    top: -6px;
    //left: calc(50% - 4px);
    border-bottom: 6px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  [data-popper-placement='top'] [x-arrow] {
    bottom: -6px;
    //left: calc(50% - 4px);
    border-top: 6px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  [data-popper-placement='left'] [x-arrow] {
    right: -6px;
    //top: calc(50% - 4px);
    border-left: 6px solid black;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

  [data-popper-placement='right'] [x-arrow] {
    left: -6px;
    //top: calc(50% - 4px);
    border-right: 6px solid black;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
}
