:host {
  top: var(--plus-sticky-top, 0);
  z-index: var(--plus-sticky-z-index);
  position: sticky;
  display: block;
  will-change: auto;
}

:host([disabled]) {
  position: static;
}

.sizer-wrapper {
  position: relative;
  pointer-events: none;
  visibility: hidden;
}

.sizer {
  position: absolute;
  top: calc((var(--plus-sticky-top, 0) + 1px) * -1)
}
