/*
 * indeterminate
 */

progress-bar[variant='indeterminate'] .indicator {
  animation: none;
  background-color: transparent;
  width: auto !important;
}

progress-bar[variant='indeterminate'] .indicator::before,
progress-bar[variant='indeterminate'] .indicator::after {
  content: '';
  position: absolute;
  inset: 0 auto 0 0;
  background-color: dodgerblue;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
}

progress-bar[variant='indeterminate'] .indicator::before {
  animation-name: indeterminate-before;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(0.65, 0.815, 0.735, 0.395);
}

progress-bar[variant='indeterminate'] .indicator::after {
  animation-name: indeterminate-after;
  animation-delay: 1.15s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes indeterminate-before {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-after {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}
