$card-background-color: #fff              !default;
$card-border-color    : rgba(#000, 0.125) !default;
$card-border-radius   : $border-radius      !default;
$card-border-width    : $border-width       !default;