plus-transition[name='flip-out-x'] {
  animation-name: flip-out-x;
  animation-duration: calc(var(--plus-transition-duration) * 0.75);
  backface-visibility: visible !important;
}

@keyframes flip-out-x {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
