@import 'all';
@import 'reset';
@import 'sticky.variables';

:host {
  
  /**
  * @prop --plus-sticky-top    : Specifies the space from top.
  * @prop --plus-sticky-z-index: Specifies the z-index of the sticky.
  */

  --plus-sticky-top    : #{$sticky-top};
  --plus-sticky-z-index: #{$sticky-z-index};
}

:host {
  display: block;
  position: sticky;
  top: var(--plus-sticky-top);
  z-index: var(--plus-sticky-z-index);
}

:host([disabled]) {
  position: unset;
}
