:root {
  /**
  * @prop --plus-sticky-top : Specifies the space from top
  * @prop --plus-sticky-inner-z : Specifies the z-index of the sticky
   */
  --plus-sticky-top: 0;
  --plus-sticky-inner-z: 1;
}

.position-sticky {
  position: sticky;
  top: var(--plus-sticky-top);
  z-index: var(--plus-sticky-inner-z);
}

.position-unset {
  position: unset;
}

