@import 'reset';
@import 'sticky.variables';

:host {

  // @prop Specifies the space from top.
  --plus-sticky-top: #{$sticky-top};

  // @prop Specifies the z-index of the sticky.
  --plus-sticky-z-index: #{$sticky-z-index};
}

:host {
  position: sticky;
  display: block;
  will-change: auto;
  top: var(--plus-sticky-top);
  z-index: var(--plus-sticky-z-index);
}

:host([disabled]) {
  position: initial;
}

.sizer-wrapper {
  position: relative;
  pointer-events: none;
  visibility: hidden;
}

.sizer {
  top: calc((var(--plus-sticky-top) + 1px) * -1);
  position: absolute;
}