<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      plus-spinner {
        color: purple;
        width: 5rem;
        height: 5rem;
        font-size: 0.8rem;
      }
    </style>
  </head>
  <body>
    <plus-center>
      <plus-spinner type="dual-ring"></plus-spinner>
    </plus-center>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/center.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/spinner.js';
    </script>
  </body>
</html>
