<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <plus-stack gap="2rem">
      <plus-icon name="house" size="16"></plus-icon>
      <plus-icon name="house" size="32px"></plus-icon>
      <plus-icon name="house" size="3rem"></plus-icon>
    </plus-stack>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/icon.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/stack.js';
    </script>
  </body>
</html>
