// host
$switch-height: 2em;
$switch-width: 3.5em;
$switch-transition: 0.3s;

// handle
$switch-handle-height: 1.5em;
$switch-handle-width: 1.5em;
$switch-handle-offset: 0.25em;

// slot
$switch-on-padding: 0 0 0 0.5em;
$switch-off-padding: 0 0.5em 0 0;
