<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      plus-card {
        padding: 0 1rem;
        line-height: 3rem;
      }
    </style>
  </head>
  <body>
    <plus-card elevation="10">
      Item 1
      <plus-divider></plus-divider>
      Item 2
      <plus-divider></plus-divider>
      Item 3
      <plus-divider></plus-divider>
      Item 4
      <plus-divider></plus-divider>
      Item 5
    </plus-card>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/card.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/divider.js';
    </script>
  </body>
</html>
