<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      plus-divider {
        margin: 1rem 0;
      }
    </style>
  </head>
  <body>
    <plus-faker></plus-faker>
    <plus-divider></plus-divider>
    <plus-faker></plus-faker>
    <plus-divider></plus-divider>
    <plus-faker></plus-faker>

    <script type="module">
      import 'https://cdn.skypack.dev/@faker-js/faker';
      import 'https://cdn.skypack.dev/@htmlplus/core/divider.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/faker.js';
    </script>
  </body>
</html>
