$avatar-background-color: lightgray !default;
$avatar-border-radius: 4px !default;
$avatar-color: gray !default;
$avatar-sizes: (
  'xxs': 1rem,
  'xs': 1.5rem,
  'sm': 2rem,
  'md': 3rem,
  'lg': 4rem,
  'xl': 6rem,
  'xxl': 8rem
) !default;
