@import 'avatar.variables';

:host {
  // @prop TODO.
  --plus-avatar-border-radius: #{$avatar-border-radius};
}

:host {
  align-items: center;
  background-color: $avatar-background-color;
  border-radius: var(--plus-avatar-border-radius);
  color: $avatar-color;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
}

:host([shape='circle']) {
  --plus-avatar-border-radius: 50%;
}

:host([shape='round']) {
  --plus-avatar-border-radius: #{$avatar-border-radius};
}

:host([shape='tile']) {
  --plus-avatar-border-radius: 0;
}

@each $key, $value in $avatar-sizes {
  :host([size='#{$key}']) {
    font-size: $value * 0.35;
    height: #{$value};
    width: #{$value};
  }
}

::slotted(*) {
  border-radius: var(--plus-avatar-border-radius);
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
