:host {
  width: max-content;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
  position: absolute;
}

:host(#{boolean(fixed)}) {
  position: fixed;
}

:host([state='hide']) {
  display: none;
}

:host([state='show']) {
  display: block;
}

[part='arrow'] {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
}

:host(#{boolean(arrow)}) {
  [part='arrow'] {
    display: block;
  }

  &:host([placement-computed^='top']) {
    transform: translateY(-6px);
    [part='arrow'] {
      bottom: -6px;
      transform: translateX(-50%);
      border-top: solid 6px black;
      border-right: solid 6px transparent;
      border-bottom: solid 0px transparent;
      border-left: solid 6px transparent;
    }
  }

  &:host([placement-computed^='right']) {
    transform: translateX(6px);
    [part='arrow'] {
      left: -6px;
      transform: translateY(-50%);
      border-top: solid 6px transparent;
      border-right: solid 6px black;
      border-bottom: solid 6px transparent;
      border-left: solid 0px transparent;
    }
  }

  &:host([placement-computed^='bottom']) {
    transform: translateY(6px);
    [part='arrow'] {
      top: -6px;
      transform: translateX(-50%);
      border-top: solid 0px transparent;
      border-right: solid 6px transparent;
      border-bottom: solid 6px black;
      border-left: solid 6px transparent;
    }
  }

  &:host([placement-computed^='left']) {
    transform: translateX(-6px);
    [part='arrow'] {
      right: -6px;
      transform: translateY(-50%);
      border-top: solid 6px transparent;
      border-right: solid 0px transparent;
      border-bottom: solid 6px transparent;
      border-left: solid 6px black;
    }
  }
}
