$tooltip-background-color: #000000;
$tooltip-border-radius   : 4px;
$tooltip-color           : #FFFFFF;
$tooltip-padding         : 0.25rem 0.50rem;
$tooltip-z-index         : 1000;
$tooltip-animation-delay : 1s;
$tooltip-max-width       : 200px;
