@function breakpoint-min($name, $breakpoints: $breakpoints-new) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $breakpoints-new) {
    $max: map-get($breakpoints, $name);
    @return if($max and $max > 0, $max - .02, null);
}
  
@mixin media-breakpoint-down($name, $breakpoints: $breakpoints-new) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-up($name, $breakpoints: $breakpoints-new) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
      @media (min-width: $min) {
        @content;
      }
    } @else {
      @content;
    }
}