@import 'mixins';

:host {
  background: white;
  border: 2px dashed #e0e0e0;
  border-radius: 4px;
  display: block;
  padding: 3rem;
  text-align: center;
}

:host(#{boolean(dragging)}) {
  border-color: #0087f7;
}
