@import 'avatar-group.variables';

:host {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}

:host ::slotted(plus-avatar) {
  margin-inline-end: $avatar-group-gutter-unstacked;
}

:host ::slotted(plus-avatar:last-of-type) {
  margin-inline-end: 0 !important;
}

:host([hoverable]) ::slotted(plus-avatar:hover) {
  z-index: 1;
}

:host([stacked]) ::slotted(plus-avatar) {
  border: $avatar-group-stacked-children-border;
  margin-inline-end: $avatar-group-gutter-stacked;
}
