@import 'all';
@import 'reset';
@import 'layout.variables';

:host {

  // @prop TODO
  --plus-layout-gutter-x: 0;
  
  // @prop TODO
  --plus-layout-gutter-y: 0;
}

:host {
  display: block;
  min-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  min-height: inherit;
  column-gap: var(--plus-layout-gutter-x);
  row-gap: var(--plus-layout-gutter-y);
}

.main {
  grid-area: main;
  &.center {
    align-self: center;
    justify-self: center;
  }
}

@each $key in $layout-areas {
  .#{$key} {
    grid-area: $key;
  }
}