// host
$dialog-z-index: 1000;
$dialog-margin: (
  xs: 0.5rem, 
  sm: 1.75rem
);
$dialog-size: (
    sm: (
        null: 500px,
        sm: 300px
    ),
    lg: (
        lg: 800px,
        xl: 800px
    ),
    xl: (
        xl: 1140px
    )
);
$dialog-placement-x: (
  right: (
    margin-right: 0
  ),
  left: (
    margin-left: 0
  )
);
$dialog-placement-y: (
  top: (
    vertical-align: top
  ),
  center: (
    vertical-align: middle
  ),
  bottom: (
    vertical-align: bottom
  )
);

// backdrop
$dialog-backdrop-background-color: black;
$dialog-backdrop-opacity: 0.5;