<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body isolate>
    <plus-faker api="lorem.paragraphs"></plus-faker>
    <br />
    <br />
    <br />
    <plus-floating fixed>
      <plus-icon name="circle-fill"></plus-icon>
    </plus-floating>
    <script type="module">
      import 'https://cdn.skypack.dev/@faker-js/faker';
      import 'https://cdn.skypack.dev/@htmlplus/core/faker.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/floating.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/icon.js';
    </script>
  </body>
</html>
