<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      div {
        position: relative;
      }
    </style>
  </head>
  <body>
    <div>
      <plus-faker api="lorem.paragraphs"></plus-faker>
      <plus-floating offset="[20, 20]">
        <plus-icon name="circle-fill"></plus-icon>
      </plus-floating>
    </div>
    <script type="module">
      import 'https://cdn.skypack.dev/@faker-js/faker';
      import 'https://cdn.skypack.dev/@htmlplus/core/faker.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/floating.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/icon.js';
    </script>
  </body>
</html>
