:host {
  display: block;
  background-color: white;
  border: solid 1px lightgray;
  overflow-anchor: none;
  transition: all 0.3s ease-out;
  border-radius: 4px;
}

:host(#{boolean(disabled)}) {
  opacity: 0.5;
}

.header {
  display: flex;
  align-items: center;
  border-radius: inherit;
  padding: 1rem;
  user-select: none;
  cursor: pointer;
}

.summary {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.body {
  overflow: hidden;
  transition: inherit;
}

.content {
  display: block;
  padding: 1rem;
}

:host([state='expanded']) .body {
  overflow: initial;
}

:host([state='collapsed']) .body {
  display: none;
}

:host(:not(:first-of-type)) {
  border-top: 0;
}

:host(:not(:first-of-type, :last-of-type)) {
  border-radius: 0;
}

:host(:not(:last-of-type):first-of-type) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

:host(:not(:first-of-type):last-of-type) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

// TODO
// .icon {
//   transition: var(--sl-transition-medium) rotate ease;
// }
// .details--open .details__summary-icon {
//   rotate: 90deg;
// }
// .details--open.details--rtl .details__summary-icon {
//   rotate: -90deg;
// }
// .details--open slot[name='expand-icon'],
// .details:not(.details--open) slot[name='collapse-icon'] {
//   display: none;
// }
