@import 'accordion.variables';

:host {
  display: block;
  background-color: $accordion-background-color;
  border: $accordion-border;
  overflow-anchor: none;
  border-radius: 0.25rem;
}

:host(:not(:first-of-type)) {
  border-top: 0;
}

:host(:not(:first-of-type, :last-of-type)) {
  border-radius: 0;
}

:host(:not(:only-of-type):first-of-type) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

:host(:not(:only-of-type):last-of-type) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

:host(#{boolean(disabled)}) {
  opacity: $accordion-disabled-opacity;
}

:host(#{boolean(disabled)}) .header {
  cursor: initial;
}

.header {
  display: flex;
  align-items: center;
  border-radius: inherit;
  padding: 1rem;
  user-select: none;
  cursor: pointer;
}

.summary {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.body {
  overflow: hidden;
  transition: $accordion-transition;
}

.content {
  display: block;
  padding: $accordion-padding;
}

:host([state='collapsed']) .body {
  display: none;
}

:host(:not([state='collapsed'])) .header {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

svg {
  transition: $accordion-transition;
}

:host([state^='collap']) svg {
  transform: rotate(-90deg);
}

:host([state^='expand']) svg {
  transform: rotate(+90deg);
}
