<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <plus-tabs>
      <plus-tabs-bar grow>
        <plus-tabs-tab> Tab 1 </plus-tabs-tab>
        <plus-tabs-tab> Tab 2 </plus-tabs-tab>
        <plus-tabs-tab> Tab 3 </plus-tabs-tab>
      </plus-tabs-bar>
    </plus-tabs>
    <script type="module">
      import 'https://cdn.skypack.dev/@htmlplus/core/tabs-bar.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/tabs-tab.js';
      import 'https://cdn.skypack.dev/@htmlplus/core/tabs.js';
    </script>
  </body>
</html>
