@use 'sass:list';

@function slice($list, $start: 1, $end: list.length($list)) {
  $result: ();
  @if $start < 0 {
    $start: list.length($list) - abs($start) + 1;
  }
  @if $end < 0 {
    $end: list.length($list) - abs($end) + 1;
  }
  @for $i from $start through $end {
    $result: list.append($result, list.nth($list, $i));
  }
  @return $result;
}
