$accordion-background-color: white !default;
$accordion-border: solid 1px lightgray !default;
$accordion-border-radius: 0.25rem !default;
$accordion-disabled-opacity: 0.5 !default;
$accordion-padding: 1rem !default;
$accordion-transition: all 0.2s ease-in-out !default;
