@import 'drawer.variables';

:host {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: $drawer-z-index;
}

[part='backdrop'] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: inherit;
  * {
    width: 100%;
    height: 100%;
    background-color: $drawer-backdrop-background-color;
    opacity: $drawer-backdrop-opacity;
  }
}

[part='root'] {
  height: 100%;
  position: relative;
  z-index: 1;
  transition: inherit;
}

.right,
.left {
  width: var(--plus-drawer-size);
}

.top,
.bottom {
  height: var(--plus-drawer-size);
}

.right,
.left.reverse {
  margin: 0 var(--plus-drawer-offset, 0) 0 0;
}

.left,
.right.reverse {
  margin: 0 0 0 var(--plus-drawer-offset, 0);
}

.top,
.bottom.reverse {
  margin: var(--plus-drawer-offset, 0) 0 0 0;
}

.bottom,
.top.reverse {
  margin: 0 0 var(--plus-drawer-offset, 0) 0;
}

// TODO

:host([floated]) {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

:host([animation]) {
  transition: $drawer-transition;
}

:host([animation][state='closed']) {
  display: none;
}

:host([animation][state='opened'][state-mini='closed']) {
  overflow: visible;
}

:host([animation][state='open']),
:host([animation][state='closing']) {
  padding: 0.000001px;
  [part='backdrop'] {
    opacity: 0;
  }
}
