name: Node.js Package

on:
  push:
    branches:
      - main

jobs:
  release:
    if: "contains(github.event.head_commit.message, 'release@latest')"
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: checout
        uses: actions/checkout@v2
      - name: node
        uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org
      - name: install
        run: npm ci
      - name: build
        run: npm run build
      - name: publish
        run: cd dist && npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
