@import 'sticky.variables';

:host {
  position: sticky;
  display: block;
  will-change: auto;
}

.sizer-wrapper {
  position: relative;
  pointer-events: none;
  visibility: hidden;
}

.sizer {
  position: absolute;
}
